/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.img_size{
	width:250px ;
	height:80px;
}
.header-cookie {
	display: inline-block;
}
.menu a{
	font-family: 'Alba';
	display: inline-block;
	text-decoration: none;
	color: #8B4513;
	font-size: 20px;
	font-weight: 600;
}
.cart{
	height: 40px;
	width: 40px;
}
.img-slider{
  padding-bottom: 62.5%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider{
	display : inline-block;
	width: 100%;
	float: left;
	position: relative;
}
.slider img{
	width: 100%;
}
.caption{
	position: absolute;
	top: 45%;
	left: 5%;
	width: 500px;
}
.caption h1{
	color: rgb(255,255,255);
	font-size: 50px;
	font-family: : Arial,sans-serif;
	font-weight: 600;
	text-shadow: 0px 0px 4px rgba(153,51,0,100);
}
.caption p{
	color: rgb(255,255,255);
	font-size: 15px;
	padding: 10px 0;
	line-height: 22px;
	text-shadow: 0px 0px 4px rgba(153, 51, 0, 100);
	font-weight: 600;
}
.caption a{
	display: inline-block;
	width: 150px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	text-decoration :none;
	background-color: #ff9933;
	margin-top: 25px;
	font-size: 17px;
	font-weight: 600;
	border-radius: 7px;
}
.caption a:hover{
	background-color: #8B4513;
	transition-duration: 0.4s;
}
/*.products{
	display: inline-block;
	width: 100%;
	float: left;
}
.product-item .item .item-image img{
	width: 300px;
	height: 300px;
}*/
.product-heading h2{
	font-size: 40px;
	margin-bottom: 10px;
}
.product-heading p{
	font-size: 20px;
	text-transform: uppercase;
	color: #A0522D;
}

/*.product-item{
	position: absolute;
	display: inline-block;
	width: 1200px;
}
.item{
	width: 250px;
	float: left;
	margin-right: 40px;
}
.item-image{
	position: relative;
}
.item-image img{
	max-width: 250px;
	max-height: 250px;
}*/
.item-button{
	position: absolute;
	top: 18%;
}
.item-button a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	background-color: #ff9933;
	line-height: 40px;
    padding: 5px 15px;
    opacity: 0;
}
/*.item-title{
	display: inline-block;
	width: 250px;
	float: left;
	text-align: center;
	padding: 15px 0;
}
.item-title{
	font-size: 16px;
	color: #222222;
	margin-bottom: 7px;
	line-height: 20px;
}
.item-title p{
	font-size: 16px;
	color: #222222;
	font-weight: 600;
}
.item-title p del{
	color: #808080;
}*/
.item:hover .item-button a{
	opacity: 1;
}
.item-button a:hover{
	background-color: #8B4513;
	transition-duration: 0.4s;
	opacity: 1;
}
.item img{
	width: 100%;
}
.
@font-face {
    font-family: 'Alba';
    src: url('fonts/Alba.eot');
    src: url('fonts/Alba.eot?#iefix') format('embedded-opentype'),
        url('fonts/Alba.woff2') format('woff2'),
        url('fonts/Alba.woff') format('woff'),
        url('fonts/Alba.ttf') format('truetype'),
        url('fonts/Alba.svg#Alba') format('svg');
    font-weight: normal;
    font-style: normal;
}
